@font-face {
    font-family: 'roboto_condensedlight';
    src: url('robotocondensed-light-webfont.woff2') format('woff2'),
         url('robotocondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'slabo_27pxregular';
    src: url('slabo27px-regular-webfont.woff2') format('woff2'),
         url('slabo27px-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Specificity 0001 */
html{ 
	font-size: 16px;
}

/* detta element används på alla sidor */
/* Specificity 0001 */
body{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	font-family: 'slabo_27pxregular', Times;
}

/* dessaa element används på alla sidor, flera gånger på vissa sidor */
/* Specificity 0001 */
h1, h2, h3, th{
	font-family: 'roboto_condensedlight', Sans-serif;
	font-weight: normal;
}

/* detta element används på alla sidor */
/* Specificity 0001 */
header{
	width: 100%;
	box-sizing: border-box;
	background-color: #3d7a6a;
	padding: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* denna klass används bara en gång*/
/* Specificity 0010 */
.name-logo{ 
	display: flex;
	align-items: center;
}

/* detta är ett specifikt id för loggan*/
/* Specificity 0010 */
#logotype{
	width: 4rem;
	height: 4rem;
}

/* denna klass används i headern på varje sida*/
/* Specificity 0010 */
.navigation{
	font-size: 0.8rem;
	color: black;
}

/* denna klass används flera gånger i headern på varje sida*/
/* Specificity 0010 */
.break{
	display: inline-block;
	margin: 0;
}

/* denna klass används flera gånger i headern på varje sida*/
/* Specificity 0010 */
.pages{
	color: black;
	font-size: 1rem;
	text-decoration: none;
}

/* detta element används på alla sidor */
/* Specificity 0001 */
main{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 51rem;
}

/* denna klass används på varje sida*/
/* Specificity 0010 */
.heading1{
	border-bottom: 0.15rem solid;
}

/* denna klass används bara en gång på förstasidan*/
/* Specificity 0010 */
.container{
	display: flex;
	margin-top: 1.5rem;
}

/* denna klass används bara en gång på förstasidan*/
/* Specificity 0010 */
.text-box{
	box-sizing: border-box;
	background-color: #231a1b;
	color: white;
	padding: 1.5rem;
	width: 25rem;
	display: flex;
	margin-right: 1rem;
	line-height: 2rem;
	letter-spacing: 0.1rem;
	font-weight: lighter;
}

/* detta element används på flera sidor, flera gånger på vissa sidor*/
/* Specificity 0001 */
p{
	display: flex;
	align-items: center;
	margin: 0;
}

/* denna klass används på flera sidor*/
/* Specificity 0010 */
.content-home{
	display: flex;
}

/* denna klass används bara en gång på förstasidan*/
/* Specificity 0010 */
.img-frontpage{
	display: flex;
	flex-direction: column;
}

/* denna klass används bara en gång på förstasidan*/
/* Specificity 0010 */
.img-front{
	width: 25rem;
	display: flex;
}


/* detta är ett specifikt id för en bild som bara används på förstasidan*/
/* Specificity 0100 */
#img1{
	margin-bottom: 1rem;
}


.content-about{
	display: flex;
	border: 1px solid black;
	padding: 1rem;
}

.text-about{
	width: 25rem;
	margin-right: 1rem;
}


/* detta element används på en sida */
/* Specificity 0001 */
table{
	border-collapse: collapse;
	text-align: center;
}

/* detta element används flera gånger på en sida */
/* Specificity 0001 */
td{
	border: 1px solid black;
	padding: 1rem;
}

li{
	display:flex;
	justify-content: space-between;
}

.h-text{
	display: flex;
	flex-direction: column;
}

/* denna klass används bara en gång på en sida*/
/* Specificity 0010 */
.address{
	list-style: none;
	text-align: center;
	letter-spacing: 0.1rem;
	line-height: 2rem;
	padding: 0;
}

/* denna klass används bara en gång på en sida*/
/* Specificity 0010 */
.email-form{
	margin-top: 2rem;
	margin-bottom: 5rem;
}

/* denna klass används bara på en sida*/
/* Specificity 0010 */
.input-filed{
	width: 100%;
	margin-bottom: 1rem;
}

/* denna klass används flera gånger på en sida*/
/* Specificity 0010 */
.comment{
	height: 10rem;
	width: 100%;
}


@media screen and (max-width: 51rem) {
    .container {
        flex-direction: column;
        align-items: center; 
    }
    #img1{
    	margin-top: 1rem;
    }
    .text-box{
    	margin-right: 0;
    }
    header{
    	flex-direction: column;
    }
    td{
    	padding: 0.2rem;
    	width: 5rem;
    }
    .text-about{
    	width: 25rem; 
    }
    .content-about{
    	flex-direction: column;
    }
}


